<div class="flex flex-col flex-auto md:w-160 max-h-160 -m-6 overflow-y-auto">
    <!-- Header -->
    <div class="flex items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Company</div>
        <!-- Close button -->
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <!-- Company form -->
    <form class="flex flex-col flex-0 w-full p-6 sm:p-8 space-y-6 overflow-y-auto" [formGroup]="companyForm">
        <div class="flex flex-auto flex-wrap">
            <!-- Input field for company name -->
            <mat-form-field class="w-1/2 pr-2" [subscriptSizing]="'dynamic'">
                <mat-label>Name</mat-label>
                <textarea matInput [formControlName]="'name'" [rows]="1" cdkTextareaAutosize [cdkAutosizeMinRows]="1"></textarea>
            </mat-form-field>
            <!-- Input field for company website -->
            <mat-form-field class="w-1/2 pl-2" [subscriptSizing]="'dynamic'">
                <mat-label>Website</mat-label>
                <textarea matInput [formControlName]="'website'" [rows]="1" cdkTextareaAutosize [cdkAutosizeMinRows]="1"></textarea>
            </mat-form-field>
            <!-- Input field for company email -->
            <mat-form-field class="w-1/2 pr-2" [subscriptSizing]="'dynamic'">
                <mat-label>Email</mat-label>
                <textarea matInput [formControlName]="'email'" [rows]="1" cdkTextareaAutosize [cdkAutosizeMinRows]="1"></textarea>
            </mat-form-field>
            <!-- Input field for company phone number -->
            <mat-form-field class="w-1/2 pl-2" [subscriptSizing]="'dynamic'">
                <mat-label>Phone Number</mat-label>
                <textarea matInput [formControlName]="'phone_number'" [rows]="1" cdkTextareaAutosize [cdkAutosizeMinRows]="1"></textarea>
            </mat-form-field>
            <!-- Input field for company creation date -->
            <mat-form-field class="w-1/2">
                <mat-label>Created At</mat-label>
                <input matInput [matDatepicker]="createdAtDatePicker" formControlName="createdAt" readonly>
                <mat-datepicker-toggle matSuffix [for]="createdAtDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #createdAtDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- Buttons -->
        <div class="flex items-center justify-between w-full border-t px-8 py-4">
            <!-- Delete Button -->
            <button class="-ml-4" mat-button [color]="'warn'" (click)="deleteCompany()">Delete</button>
            <!-- Flash Message -->
            <div class="flex items-center">
                <div class="flex items-center mr-4" *ngIf="flashMessage">
                    <ng-container *ngIf="flashMessage === 'success'">
                        <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                        <span class="ml-2">Project updated</span>
                    </ng-container>
                    <ng-container *ngIf="flashMessage === 'error'">
                        <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                        <span class="ml-2">An error occurred, try again!</span>
                    </ng-container>
                </div>
                <!-- Update Button -->
                <button mat-flat-button [color]="'primary'" (click)="updateCompany()">Update</button>
            </div>
        </div>
    </form>
</div>
