<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Notifications</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search notifications'">
            </mat-form-field>
            <!-- Add notification button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="openserDetails(notification)"
                (click)="createProject()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Notifications notification -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(notifications$ | async) as notifications">
                <ng-container *ngIf="notifications.length > 0; else noNotifications">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="mat-sort test-grid z-10 sticky top-0 grid gap-120 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div class="hidden lg:block"
                       
                            [mat-sort-header]="'type'">
                            Type
                           </div>
                           <div 
                               [mat-sort-header]="'content'">
                               Content
                           </div>
                           <div
                               class="hidden lg:block"
                               [mat-sort-header]="'createdAt'">
                               createdAt
                           </div>
                         
                       
                     </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(notifications$ | async) as notifications">
                            <ng-container *ngFor="let notification of notifications; trackBy: trackByFn">
                      
                                <a
                                class="test-grid grid items-center gap-120 py-3 px-6 md:px-8 border-b group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [routerLink]="['notification', notification.id]"
                                (click)="openCardDetails(notification)"
                                cdkDrag>
                              
                                
                          
                                    <!-- Name -->
                                      <!-- Name -->
                                      <div class="truncate min-w-50">
                                        <div class="min-w-50">{{notification.type}}</div>
                                        
                                    </div>
                                    <!-- Stock -->
                                    <div class="hidden lg:flex items-center">
                                        <div class="min-w-50">{{notification.content}}</div>
                                     
                                        <!-- Low stock -->
                                        </div>
                                        
                                        <div class="hidden lg:flex items-center">
                                            <div class="min-w-50">{{notification.createdAt}}</div>
                                            <!-- Low stock -->
                                            </div>
                                           
                                                
                                    <!-- Details button -->
                                
                             
                                <div class="grid">
                                    <ng-container *ngIf="selectedProject?.id === notification.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: notification}"></ng-container>
                                    </ng-container>
                                </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </div>
                    <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="pagination.totalCount"
                    [pageIndex]="pagination.page - 1"
                    [pageSize]="pagination.size"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true">
                </mat-paginator>
                
                </ng-container>
            </ng-container>


            <ng-template #noNotifications>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no notifications!</div>
            </ng-template>
        </div>
    </div>
</div>
